html
  head
    title = title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  body
    div
    h1 The layout
    img(src= "static/images/trojan.jpg" width="800")

    block content
